[Service]
WorkingDirectory = /root/haste-server
ExecStart=/usr/bin/nodejs /root/haste-server/server.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pastebin
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
